.aboutus-page {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

/* Loader */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #fff;
}

.loader-gif {
  width: 55px;
}

/* Hero Section */
.aboutus-hero {
  height: 60vh;
  background: url("../assets/images/homebg.jpg") center/cover no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #14131348;
  background-blend-mode: multiply;
  
  position: relative;
  animation: bgMove 15s ease-in-out infinite;
  background-size: 120% 110%;
}

@keyframes bgMove {
  0%   { background-position: 50% 50%; }
  50%  { background-position: 60% 55%; }
  100% { background-position: 50% 50%; }
}

.aboutus-overlay {
  background: rgba(0, 0, 0, 0.45);
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.aboutus-overlay h1 {
 font-size: 2.5rem;
  margin-bottom: 8px;
  letter-spacing: 0.2rem;
  padding: 0 1rem;
  background: linear-gradient(270deg, rgb(115, 41, 233), rgb(188, 151, 248), rgba(105, 102, 255, 0.692));
  background-size: 400% 400%;
  
  /* -webkit-background-clip: text;
  background-clip: text;
  color: transparent; */

  animation: gradientMove 8s ease-in-out infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.aboutus-overlay p {
  font-size: 1.2rem;
  font-style: italic;
  line-height: 1.5rem;
  width: 85%;
}

/* Content Section */
.aboutus-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 40px;
  padding: 60px 20px;
  background: #f9f9f9;
  align-items: center;
}

.aboutus-text h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #FEA500;
}

.aboutus-text p {
  margin-bottom: 15px;
  line-height: 1.6;
}

.aboutus-image-cont{
  width: 100%;
  height: 35rem;
  aspect-ratio: 2.5/6;
  /* overflow: hidden; */
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0.5rem;
  border-bottom: 4px solid rgb(5, 5, 150);
}
.aboutus-image-cont>h4, .aboutus-image-cont>p{
  margin: 0;
  padding: 0;
  text-align: center;
  color: #797986;
}
.image-cont{
  width: 100%;
  height: 90%;
  aspect-ratio: 2/4;
  object-fit: cover;
  overflow: hidden;
  border-radius: 12px;
  /* box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08); */
  /* border: 2px solid blue; */
}

.hon-img {
  width: 100%;
  display: flex;
  transition: transform 0.3s ease;
}

/* .hon-img:hover {
  transform: scale(1.03);
} */















#bg-slideshow {
  /* position: relative; */
  width: 100%;
  height: 85%;
  aspect-ratio: 5/10;
  background-color: gray;
  background-size: cover;
  background-repeat: no-repeat;
  animation: fadeSlide 40s ease-in-out infinite;
  /* transition: 2.5s ease; */
}

/* Animation for fading between them */
@keyframes fadeSlide {
  0% { background-image: url(../assets/news/hon1a.jpg); }
  15% { background-image: url(../assets/news/hon1b.jpg); }
  30% { background-image: url(../assets/news/hon1b.jpg); }
  600% { background-image: url(../assets/news/hon1c.jpg); }
  80% { background-image: url(../assets/news/hon1d.jpg); }
  100% { background-image: url(../assets/news/hon1d.jpg); }
}




.blog{
  height: max-content;
  width: 100vw;
  background-color: rgb(5, 5, 150);
  padding: 3.5rem 0;
}
.blog-cont{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 8px;
  width: 95%;
  margin: 0 auto;
  /* margin-bottom: 3rem; */
  /* border: 1px solid red; */
  padding: 2rem 0;
}
.blog-img{
  width: 90%;
  height: 100%;
  aspect-ratio: 16/10;
  border-radius: 8px;
  border-left: 4px solid #FEA500;
  border-bottom: 4px solid #FEA500;
  /* border-top: 4px solid white;
  border-right: 4px solid white; */
  object-fit: cover;
  overflow: hidden;
  background-position: 50% 50%;
}
.blog-img img{
  width: 100%;
  height: 100%;
  display: flex;
}
.blog-txt{
  color: white;
  font-family: monospace;
  font-size: 1.65rem;
  line-height: 2.11rem;
  width: 80%;
}



.airport-cont{
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem 0;
  gap: 0.4rem;
}
.airport{
  width: 350px;
  height: 500px;
  aspect-ratio: 9/16;
  margin: 0 auto;
  overflow: hidden;
  object-fit: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 5px solid rgb(5, 5, 150);
  border-bottom: 5px solid rgb(5, 5, 150);
  
}
.airport img{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.airport-cont p{
  color: #797986;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
}


@media (max-width: 1000px) {
  .aboutus-image-cont{
  width: 70%;
  height: 25rem;
  aspect-ratio: 3/6;
  margin: auto;
  }
}


@media (max-width: 730px) {
  .aboutus-hero {
    background-size: 130% 100%;
  }
  .aboutus-image-cont{
  width: 70%;
  height: 25rem;
  aspect-ratio: 3/6;
  margin: auto;
  }
  .contact-overlay h1 {
  font-size: 2.2rem;
  }
  .contact-overlay p {
    width: 85%;
  }
  .blog-txt{
    font-size: 1.3rem;
  }
}


@media (max-width: 500px) {
  .aboutus-image-cont{
  width: 85%;
  height: 28rem;
  aspect-ratio: 3/6;
  margin: auto;
  }
  .blog-txt{
    font-size: 1.3rem;
    text-align: center;
    margin: auto;
  }
  .airport-sec{
    gap: 10px;
  }
  .airport{
  width: 310px;
  height: 400px;
  }
}
