.home-page {
  font-family: Montserrat;
  color: #333;
}

/* Loader Styles */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #fff;
}

.loader-gif {
  width: 55px;
}

/* Hero Section */
.hero-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("/src/assets/images/homebg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #141313b9;
  background-blend-mode: multiply;
  
  position: relative;
  animation: bgMove 15s ease-in-out infinite;
  background-size: 120% 120%;
}

@keyframes bgMove {
  0%   { background-position: 50% 50%; }
  50%  { background-position: 60% 55%; }
  100% { background-position: 50% 50%; }
}


/* @keyframes bgMove {
  0%   { background-position: 50% 50%; }
  50%  { background-position: 52% 54%; }
  100% { background-position: 50% 50%; }
} */


.hero-overlay {
  color: #fff;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.hero-overlay h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.hero-overlay p {
  font-size: 1.2rem;
  margin-bottom: 25px;
}


.olu-txt{
  padding: 0 0.5rem;
  background: linear-gradient(270deg, rgb(115, 41, 233), rgb(188, 151, 248), rgba(105, 102, 255, 0.692));
  background-size: 400% 400%;
  
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  animation: gradientMove 8s ease-in-out infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.n-l{
  margin-top: 1rem !important;
  color: #fea500;
}

.cta-btn {
  background: transparent;
  border: 2px solid #fea500;
  padding: 12px 32px;
  color: white;
  font-size: 1rem;
  border-radius: 23px;
  cursor: pointer;
  transition: background 0.8s ease, box-shadow 0.3s ease;
}

.cta-btn:hover {
  background: #fea500;
  border: none;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

/* Features Section */
.features-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  gap: 15px;
  padding: 60px 20px;
  background: #f8f8f8;
}

.feature-card {
  background: #fff;
  padding: 10px 10px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.075);
  text-align: center;
  border: 2px solid white;
  transition: transform 0.6s ease;
}
.feature-card:hover {
  cursor: pointer;
  background: #fff;
  border: 2px solid #fea500;
  padding: 10px 10px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  text-align: center;
  transition: border-color 0.8s ease;
}

.feature-icon {
  font-size: 2rem;
  color: #fea500;
  margin-bottom: 15px;
}

.feature-card h3 {
  margin-bottom: 10px;
  font-size: .9rem;
  font-weight: 500;
}

.feature-card p {
  font-size: 0.95rem;
  line-height: 1.5;
}




.sec1-cont{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 3rem;
}

/* .sec1-cont{
  width: 90%;
  height: max-content;
  border: 1px solid red;
  margin: 0 auto;
  gap: 1rem;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
} */


.left{
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  /* border: 1px solid red; */
}
.left h3, .partners-sec h3{
  font-size: 1.6rem;
  color: #FEA500;
  margin-bottom: 0.5rem;
  font-family: "Passion One", sans-serif;
  font-weight: 300;
  letter-spacing: 0.15rem;
}
.left p{
  font-size: 1.2rem;
  line-height: 1.7;
  color: #797986;
}
.view-btn{
  width: fit-content;
  border: 2px solid #fea500;
  background: transparent;
  color: #141313;
  padding: 0.7rem 4.5rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 500;
}
.view-btn:hover{
  transition: background-color 0.8s ease;
  border: 2px solid #fea500;
  background: #FEA500;
  color: white;
  
}


.right{
  width: 100%;
  height: 100%;
  aspect-ratio: 10/6;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid goldenrod; */
  
}
.right-img{
  width: 100%;
  height: auto;
  background: url("/src/assets/images/stab1.png");
  background-size: cover;
  background-position: center;

}


.partners-sec{
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 3rem;
  gap: 1rem;
}
.partners-sec>h3{
  padding: 0 3rem;
}


.Left-cont{
  width: 100%;
  height: fit-content;
  /* border: 2px solid purple; */

}
.icon-cont{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 2px solid #fea500;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.6rem;
}
.feat-icon{
  font-size: 2.2rem;
  color: #fea500;
}
.cont-cont{
  width: 90%;
  /* height: 5.5rem; */
  /* border: 2px solid #030303; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.cont-cont h4 {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  color: #fea500;
  font-family: "Varela Round";
  font-weight: 600;
}
.cont-cont p {
  margin: 0;
  padding: 0;
  font-size: 0.94rem;
  color: #3f3f3f;
}



.features-cont{
  width: 90%;
  height: auto;
  aspect-ratio: 11/15;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  margin: auto;
  display: flex;
}
.features-img{
  width: 100%;
  height: auto;
}


#home-sec2{
  margin: 5rem 0;
}

#feat-sec{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#typewriter {
  font-family: monospace;
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid black; /* cursor */
  display: inline-block;
}

/* typing and deleting */
@keyframes typing {
  0% { width: 0ch; }
  40% { width: 25ch; }  /* adjust ch count to match text length */
  60% { width: 25ch; }
  100% { width: 0ch; }
}

/* blinking cursor */
@keyframes blink {
  50% { border-color: transparent; }
}

#typewriter #text {
  display: inline-block;
  animation: typing 12s steps(28) infinite,
  blink .7s step-end infinite;
  overflow: hidden;
  white-space: nowrap;
}


@media (max-width: 1000px) {
  .left p{
    font-size: 1rem;
    line-height: 1.5;
  }
  .partners-sec>h3{
  padding: 0 1.8rem;
 }
 .cont-cont {
    /* text-align: left; */
    width: 100%;
  }
}


@media (max-width: 800px) {
.hero-section {
  background-size: 200% 100%;
 }
 .features-cont{
  aspect-ratio: 9/15;
 }
}

@media (max-width: 698px) {
  .sec1-cont{
    gap: 2.5rem;
  }
  .left{
    /* padding-left: 1rem; */
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.103);
    text-align: center;
  }
  .view-btn{
    margin: auto;
    margin-bottom: 1rem;
  }
  .left-cont{
    margin-bottom: 2rem;
  }
  .icon-cont{
    width: 3.4rem;
    height: 3.4rem;
    margin-left: 2rem;
    margin-bottom: 0.7rem;
  }
  .feat-icon{
      font-size: 2rem;
    }
  .cont-cont{
    margin: auto;
    align-items: flex-start;
    padding-left: 0.4rem;
    border-left: 3px solid #fea500;
  }
  .cont-cont p {
    text-align: left;
    width: 100%;
  }
  .feat-sec{
    padding: 1rem;
  }
  .features-cont{
    width: 80%;
    aspect-ratio: 10/15;
  }
}


@media (max-width: 500px) {
  .hero-section {
    height: 90vh;
  }
  .n-l{
    font-size: 1.8rem;
    /* color: white; */
  }
  .icon-cont{
    margin-left: 0.4rem;
  }
}
@media (max-width: 449px) {
  .features-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    padding: 60px 20px;
    background: #f8f8f8;
  }
  .feature-card h3 {
    font-size: 0.87rem;
  }
}