.services-page {
  font-family: Montserrat;
  color: #333;
}

/* Loader */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #fff;
}

.loader-gif {
  width: 55px;
}

/* Hero Section */
.services-hero {
  height: 60vh;
  background: url("../assets/images/homebg.jpg") center/cover no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #14131348;
  background-blend-mode: multiply;
  
  position: relative;
  animation: bgMove 15s ease-in-out infinite;
  background-size: 120% 110%;
}

@keyframes bgMove {
  0%   { background-position: 50% 50%; }
  50%  { background-position: 60% 55%; }
  100% { background-position: 50% 50%; }
}


.services-overlay {
  background: rgba(0, 0, 0, 0.45);
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.services-overlay h1 {
 font-size: 2.5rem;
  margin-bottom: 8px;
  letter-spacing: 0.2rem;
  padding: 0 1rem;
  background: linear-gradient(270deg, rgb(115, 41, 233), rgb(188, 151, 248), rgba(105, 102, 255, 0.692));
  background-size: 400% 400%;
  
  /* -webkit-background-clip: text;
  background-clip: text;
  color: transparent; */

  animation: gradientMove 8s ease-in-out infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.services-overlay p {
  font-size: 1.2rem;
}

/* Services Grid */
.services-grid {
  padding: 20px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  background: #f9f9f9;
}

.service-card {
  background: #fff;
  border-radius: 12px;
  border: 2px solid white;
  padding: 20px 20px;
  text-align: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
  transition: border-color 0.8s ease;
  border: 2px solid #fea500;
  cursor: pointer;
  transform: translateY(-6px);
  box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.12);
}

.service-icon {
  font-size: 2.5rem;
  color: #1e90ff;
  margin-bottom: 15px;
}

.service-card h3 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.service-card p {
  font-size: 0.6rem;
  line-height: 1rem;
  color: #666;
}

.prod-sec {
  display: flex;
  justify-content: center;
  /* padding: 20px 20px; */
  /* background: #f9f9f9; */
  margin: 2rem 0;
}

.prod-cont{
  width: 85%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin: auto;
}
.image-img{
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
}
.p-img{
  width: 100%;
  height: auto;
  border-radius: 10px;
  /* padding: 10px; */
  transition: transform 0.3s ease
}
.p-img:hover {
  transform: scale(1.02);
}

@media (max-width: 734px) {
  .services-hero {
    background-size: 130% 100%;
  }
  .services-overlay h1 {
  font-size: 2.2rem;
  width: fit-content;
  letter-spacing: 0;
  }
  .services-overlay p {
    width: 85%;
  }
}
